.advantages {
  padding: 40px 0 45px;

  background-color: #242424;
  background-image: url("../img/triangles.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
}

.advantages__wrapper {
  margin: 0 45px;
}

.advantages__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  padding-bottom: 20px;

  text-align: center;
}

.advantages__item-icon {
  width: 125px;
  height: 125px;
}

.advantages__title {
  margin: 0;
  padding: 30px 0 20px;

  font-size: 30px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
}

.advantages__description {
  margin: 0;

  font-size: 20px;
  text-align: center;
}

.advantages__toggles {
  display: none;
}

@media (min-width: @tablet-width) {
  .advantages {
    padding: 0 0 50px;

    background-color: #353535;
  }

  .advantages__wrapper {
    margin: 0 100px;
  }

  .advantages__item {
    min-height: 125px;

    padding: 40px 0;

    border-bottom: 1px solid #4a4a4a;

    &:last-child {
      border-bottom: none;
    }
  }

  .advantages__item-icon {
    float: left;
  }

  .advantages__title {
    margin-left: 155px;
    padding: 0 0 20px;

    text-align: left;
  }

  .advantages__description {
    margin-left: 155px;

    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .advantages {
    padding: 70px 0 110px;
  }

  .advantages__wrapper {
    margin: 0 110px;
  }

  .advantages__list {
    display: flex;
  }

  .advantages__item {
    min-height: 0;

    padding: 0;

    border-right: 1px solid #4a4a4a;
    border-bottom: none;

    &:last-child {
      border-right: none;
    }
  }

  .advantages__item-icon {
    float: none;
  }

  .advantages__title {
    margin-left: 0;
    padding: 35px 0 20px;

    text-align: center;
  }

  .advantages__description {
    margin: 0 50px;

    text-align: center;
  }
}
